{
    "overrides": [
        {
            "files": "*.blade.php",
            "options": {
                "parser": "php",
                "htmlWhitespaceSensitivity": "ignore"
            }
        }
    ]
}
